.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* margin: 4px auto 10px auto; */
  vertical-align: middle;
  margin-top: 4px;
}

#kit-switch {
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #406618;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#kit-label {
  display: inline-block;
  font-family: digital-7;
  font-size: 20pt;
  margin-left: 12px;
  padding: 4px 4px 0px 9px;
  color: #d2401d;
  background-color: black;
  vertical-align: middle;
  width: 110px;
}
